* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #63ad54;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px red;
    margin-top: 50px;
}

h1 { 
    text-align: center;
    color:#c42caf;
    margin-bottom: 15px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#taskInput {
    flex-grow: 1;
    padding: 8px;
    border: 1px solic #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-left: 5px;
    width: 60%;
    height: 35px;
    background-color: #3190bd;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #7fbfdd;
    cursor:pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #eee;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
    font-size: 20px;
}
